<%= form_for ingredient do |f| %>
	
	<% if ingredient.errors %>
	<div class="errors">
		<ul>
			<% ingredient.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<div class="form">
		<%= f.label :name %>
		<%= f.text_field :name %>
		<br>
		<%= f.submit %>
	</div>

<% end %>